<%= render partial: "shared/searchbar" %>
<h1></h1>

<h1>NASA Detailed Infomation</h1>
<div class="container container-fluid wrap card">
  <h2><%= @nasa['title'] %></h2>

  <div class="">
    <h5 class="text-muted container-sub"><%= @nasa['copyright'] %></h5>
    <h5 class="text-muted container-sub"><%= @nasa['date'] %></h5>
  </div>
  <%= image_tag("#{@nasa['hdurl']}", class: "img-fluid about-img") %>

  <h3 class="explanation"><%= @nasa['explanation'] %></h3>
</div>